header{background:-moz-linear-gradient(center top, #016f91, #028fb4);background:-webkit-gradient(linear, left top, left bottom, from(#016f91), to(#028fb4));filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#016f91, endColorstr=#028fb4);background-image: -o-linear-gradient(top left, #016F91, #028FB4);margin-bottom:10px;overflow:auto;padding:12px 10px}
header .rbs-logo{background:url(../img/rbs-logo.png) no-repeat;display:block;float:left;height:36px;width:100px}
header .rbs-logo span{visibility:hidden}

.rbs-menu{border-bottom:1px solid #b1b1b1;margin:0 10px;overflow:auto}
.rbs-menu li{float:left;margin-left:0;font:bold 13px arial} 
.rbs-menu li:first-child{margin-left:0;}
.rbs-menu li a{background:#515151;color:#fff;display:block;padding:9px 10px}
.rbs-menu .rbs-atualizar{float:right;background: url(../img/rbs-loader.jpg) no-repeat center center;height:34px;width:15px}
.rbs-menu .rbs-atualizar a{background: url(../img/rbs-loader.jpg) no-repeat center center;display:block;height:15px;overflow:hidden;padding:9px 0;width:15px}
.rbs-menu .rbs-atualizar span{visibility:hidden}

section{margin:10px;clear:both}
section h1{color:#333;font:bold 18px arial;margin-bottom:10px}

.rbs-votos,.rbs-percentual,.rbs-legenda{clear:both;overflow:auto}
.rbs-votos div{color:#515151;font-size:12px;padding-top:5px}
.rbs-votos span{color:#509902;font-size:14px;font-weight:bold;margin-right:5px}

.rbs-barra{margin-bottom:10px}
.b-p{background:#b6b6b6;display:block;height:6px}
.v-p{background:#509902;display:block;height:6px;text-indent:-99999px}

.rbs-legenda{line-height:18px;margin-bottom:20px}
.rbs-legenda p{color:#6a6a6a;float:left;font-size:11px;margin-right:10px;padding: 2px 0 0}
.ico{background:#6a6a6a;border-radius:9px;-webkit-border-radius:9px;color:#fff;float:left;font-size:9px;cursor:default;font-weight:bold;margin-right:4px;padding:0 6px;text-align:center;width:auto}
.ico-eleito{background:#509a03}

.rbs-candidatos{margin-bottom:10px}
.rbs-candidatos li{overflow:auto;padding:14px 10px}
.rbs-candidatos li img{float:left;margin-right:10px}

.rbs-candidatos li .ct{float:left}
.rbs-candidatos li .ct .ct-d{clear:both;overflow:auto}
.rbs-candidatos li .ct .ct-d h2{color:#525252;float:left;font:bold 16px arial;margin:8px 5px 0 0}
.rbs-candidatos li .ct .ct-d h2 span,.rbs-candidatos li .ct p span{font:normal 12px arial;margin-left:3px}

.rbs-candidatos li .ct .b-p{margin:5px 0;width:885px}
.rbs-candidatos li .ct .b-p,.rbs-candidatos li .ct .v-p{height:22px}
.rbs-candidatos li .ct .v-p{background:#0088b5}
.rbs-candidatos li .ct p{color:#515151;font:bold 18px arial}

.rbs-candidatos .eleito{background:#c7d7b5}
.rbs-candidatos .eleito div p{color:#509a03}
.rbs-candidatos .eleito div p span{color:#515151}
.rbs-candidatos .eleito .ct .v-p{background:#509a03}
.rbs-candidatos .eleito .ct .ico{padding:3px 6px;color:#fff;float:right;margin-left:3px;font-size:9px}

footer {border-top:1px solid #b1b1b1;margin:10px 10px 20px 10px;padding-top:15px;text-align:center}
footer .pub{display:inline-block;margin:0 auto 20px}
footer nav{margin:0 auto;width:230px}
footer nav ul{overflow:auto}
footer nav li{float:left;margin:0 10px}
footer nav li a{color:#0087b4;font:normal 13px arial}
footer nav li:first-child a{color:#515151}

.e{float:left}
.d{float:right}